@charset "Utf-8";
@font-face{
    font-family: "fontNight";
    src: url("../font/Night.ttf") format("truetype")
    }
@font-face{
    font-family: "fontTerror";
    src: url("../font/Terror.ttf") format("truetype")
    }
@font-face{
    font-family: "fontNightmare";
    src: url("../font/Nightmare.ttf") format("truetype")
    }
@font-face{
    font-family: "fontTerror2";
    src: url("../font/Terror2.ttf") format("truetype")
    }
@font-face{
    font-family: "Lobster";
    src: url("../font/Lobster-Regular.ttf") format("truetype")
    }
 
*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%
} 

body{
    width: auto;
    height: auto;
	background-image: url("../imagens/terror-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section{
    box-shadow: 5px 5px 10px white;

} 


.menu li{
    margin-right: 10px;
    padding: 0 20px;
    display: inline-block;
    text-transform: uppercase;
}

.menu ol{
    background-color: black;
    box-shadow: 5px 5px 10px white;
    margin-left: 2px;
    text-align: center;   
    text-transform: uppercase;
    word-spacing: 40px;
}

.menu li a{
    font-family: 'fontNightmare',sans-serif;
    text-decoration: none;
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 20px red;
    font-style: italic;

}


.interface h1{
	margin-top: 100px;
	font-family: "fontNightmare",sans-serif;
	font-size: 170px;
	color: white;
	text-shadow: 10px 10px 20px red;
	letter-spacing: 20px;
	text-align: center;
	font-style: italic;

}

.interface h2{

	font-family: "fontNight",sans-serif;
	font-size: 50px;
	text-align: center;
	color: red;
	text-shadow: 3px 3px 8px white;
	letter-spacing: 5px;
}

.interface h3{
    margin-top: 30px;
    font-style: italic;
    font-family: 'Lobster',sans-serif;
    font-size: 25px;
    color: white;

} 

  footer#rodape{
        clear: both;
        border-top: 5px rgb(255, 51, 51) solid;
        text-align: center; 
        line-height: 1.8;
        word-spacing: 20px;
        width: auto;
        height: 200px;
        box-shadow: 5px 5px 10px white;

    }

    footer#rodape a{
        font-family: 'fontTerror2',sans-serif;
        text-shadow: 3px 3px 10px red;
        text-decoration: none;
        color: white;
        font-style: italic;
    }

    footer#rodape a:hover{
    	transition: color 1s;
        color: white;
    }
  
    footer#rodape #tiktokimg{
        position: relative;
        width: 55px;
        top: 110px;
        left: 66px;
           
    }

    footer#rodape #twitterimg{
        position: relative;
        width: 55px;
        top: 110px;
        left: 130px;
           
    }

    footer#rodape #facebookimg{
       position: relative;
       width: 50px; 
       left: -48px;
       top: 110px;
    }  

    footer#rodape #instagramimg{
       position: relative;
       width: 70px; 
       left: -88px;
       top: 128px;
    }   
 

